body {
    background-color: #191919;
}
header {
    background-color: #E6E8E6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    border-color: #3A6EA5;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 20px;
}
#logo {
    color:#191919;
    font-family: "Fascinate", system-ui;
    font-size: 40px;
    text-decoration:underline;
}
.headerbutton {
    border-style: solid;
    border-radius: 5px;
    background-color: #BB7E8C;
    color: #191919;
    border-width: 3px;
    padding: 15px 30px 15px 30px;
    border-color: #553A41;
    font-size: 40px;
    font-family: "IBM Plex Serif", serif;
    transition: 0.4s;
    text-decoration: none;
}
.headerbutton:hover {
    background-color:#553A41;
    border-color: #BB7E8C;
    color:#d8d8d8;
    transition:0.4s;
}
#herobg {
    background-image: url("https://img.freepik.com/premium-photo/photo-shows-shelves-womens-clothing-store-style-light-indigo-dark-gray_921860-15016.jpg");
    width: 80%;
    margin-left: 10%;
    object-fit: cover;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#herotext1 {
    font-family: "IBM Plex Serif", serif;
    font-size: 70px;
    color:#E6E8E6;
    text-shadow: 2px 2px 0px rgba(0,0,0,1);
}
#herotext2 {
    font-family: "IBM Plex Serif", serif;
    font-size: 50px;
    color:#E6E8E6;
    text-shadow: 2px 2px 0px rgba(0,0,0,1);
}
#herobutton {
    border-color:#553A41;
    border-radius: 5px;
    border-width: 3px;
    background-color:#BB7E8C;
    color:#191919;
    border-style: solid;
    font-size: 30px;
    padding: 10px 30px 10px 30px;
    font-family: "IBM Plex Serif", serif;
    transition: 0.4s;
}
#herobutton:hover {
    background-color:#553A41;
    border-color: #BB7E8C;
    color:#d8d8d8;
    transition:0.4s;
}
#discountsec {
    background-color: #E6E8E6;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    border-color: #3A6EA5;
    border-style: solid;
    border-width: 5px;
}
.product {
    display: flex;
    padding: 40px 20px 40px 20px;
    flex-direction: column;
    align-items: center;
    background-color: #d8d8d8;
    border-style: solid;
    border-radius: 5px;
    border-width: 4px;
    border-color: #191919;
    margin: 15px 0px 15px 0px;
    transition: 0.3s;
}
.product:hover {
    transition: 0.3s;
    background-color:#BB7E8C;
    border-color:#553A41;
}
.price {
    display: flex;
    flex-direction: row;
}
#productslist {
    display:flex;
    justify-content: space-evenly;
}
#disctext {
    font-family: "IBM Plex Serif", serif;
    font-size: 40px;
    color:#191919;
    margin-left: 30px;
}
.sep {
    height: 2px;
    width: 92%;
    background-color: #191919;
    margin-left: 4%;
}
.nodiscount {
    color:#191919;
    font-family: "IBM Plex Serif", serif;
    margin-right: 30px;
    text-decoration: line-through;
    font-size: 25px;
    margin-bottom: 5px;
}
.discounted {
    color:#191919;
    font-family: "IBM Plex Serif", serif;
    font-size: 30px;
    margin-bottom: 5px;
}
.productname {
    color:#191919;
    font-family: "IBM Plex Serif", serif;
    font-size: 26px;
    margin-bottom: 0px;
}
#address {
    display:flex;
    align-items: center;
}
#contactinfo {
    background-color: #E6E8E6;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    border-color: #3A6EA5;
    border-style: solid;
    border-width: 5px;
    padding: 20px 10px 20px 10px;
}
b {
    font-size: 30px;
    color:#191919;
    font-family: "IBM Plex Serif", serif;
    margin-bottom: 5px;
    margin-right: 10px;
    font-weight:900;
}
#addy {
    font-size: 30px;
    color:#191919;
    font-family: "IBM Plex Serif", serif;
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: 500;
}
.info {
    font-size: 30px;
    color:#191919;
    font-family: "IBM Plex Serif", serif;
    margin-bottom: 5px;
    margin-top: 0px;
}
footer {
    background-color: #E6E8E6;
    border-style: solid;
    border-color: #b8b8b8;
    border-width: 5px 0px 5px 0px;
    margin: 20px 70px 20px 70px;
    padding-left: 20px;
    padding-right: 20px;
}
#footertext {
    display:flex;
    justify-content: space-between;
}